.wrap {
  padding: 1em;
  border-radius: 12px;
  container-type: inline-size;
}

.section {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  min-width: 200px;
  border: 1px solid var(--color-border);
  padding: 1em;
  container-type: inline-size;
  background: var(--color-body-card);
  color: var(--color-on-card);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  grid-area: icon;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  justify-self: center;
}
.name {
  padding: 0 0 0 2em;
}
.name h2 {
  margin: 0;
}
.name h3 {
  margin: 0;
}
.desc {
  padding: 1em 0 0;
}
.line {
  margin: 0;
  line-height: 1.9;
  font-size: 0.875rem;
}
.skill {
  margin-top: 1em;
}
.skill h3 {
  margin: 0 0 1em 0;
}
.skill h4 {
  margin: 0 0 0.5em 0;
}
.skill span {
  font-size: 0.875rem;
}
.skill li {
  margin: 0.5em 0 0 0;
}
.skill .others {
  padding: 1em;
}
.skill .title {
  font-size: 0.875rem;
}
.history {
  margin-top: 1em;
}
@container (max-width: 460px) {
  .profile {
    flex-direction: column;
    margin-top: 1em;
  }
  .name {
    padding: 0 0.5em 0;
  }
}
