.hexagon_group_wrap {
  display: grid;
  grid-template-columns: repeat(2, calc(var(--hexagon-width)));
  grid-gap: 0 calc(var(--hexagon-width) / 2 + 1px);
}
.hexagon_group_wrap > :global(*):nth-child(2n) {
  transform: translateY(50%);
}
.hexagon_group_wrap > :global(.blur_zoom-before) {
  opacity: 0;
}
.hexagon_group_wrap > :global(.blur_zoom) {
  opacity: 1;
  animation-duration: 1s;
}
.hexagon_group_wrap > :global(.blur_zoom):nth-child(2n+1) {
  animation-name: blur-zoom;
}
.hexagon_group_wrap > :global(.blur_zoom):nth-child(2n) {
  animation-name: blur-zoom-even;
}
@keyframes blur-zoom {
  from {
    filter: blur(5px);
    transform: scale(0.3) rotateX(50deg);
  }
  to {
    filter: blur(0);
    transform: scale(1) rotateX(0);
  }
}
@keyframes blur-zoom-even {
  from {
    filter: blur(5px);
    transform: scale(0.3) rotateX(50deg) translateY(50%);
  }
  to {
    filter: blur(0);
    transform: scale(1) rotateX(0) translateY(50%);
  }
}
