.toggle_switch {
  margin-left: 1em;
  position: relative;
  width: var(--toggle-switch-width-size);
}

.toggle_switch label {
  position: absolute; 
  width: 100%;
  height: calc(var(--toggle-switch-width-size) / 2);
  border: 1px solid var(--color-border);
  background-color: var(--color-body);
  border-radius: 50px;
  cursor: pointer;
}

.toggle_switch input {
  display: none;
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.slider::before {
  --slider-margin: 2px;
  --slider-size: calc((var(--toggle-switch-width-size) - 2px) / 2 - var(--slider-margin) * 2);
  content: "";
  position: absolute;
  top: var(--slider-margin);
  left: var(--slider-margin);
  width: var(--slider-size);
  height: var(--slider-size);
  background-color: var(--color-background-body);
  border-radius: 50%;
  transition: 0.3s;
}

.toggle_switch input:checked + label .slider::before {
  left: calc(100% - var(--slider-size) - var(--slider-margin));
}
