.wrap {
  min-width: 200px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 1em;
}
.head {
  font-size: 0.875rem;
}
.link {
  border: 1px solid var(--color-link);
  padding: 5px 15px;
  border-radius: 4px;
}
.link :global(svg) {
  margin-right: 8px;
}
